*{
    margin: 0;
    padding: 0;
}
body{
    
    font-family: 'Kreon', serif;
    
}
.heading-section{
    background: rgba(0,0,0,0.7)url("images/donation3.jpg");
        background-size: cover;
        height: 669px;
        width: 1440px;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-blend-mode: darken;
      
} 
    .heading-section h1 {
        padding-top: 140px;
        color: white;
        font-size: 70px;
        font-weight: 500 ;
        text-align: center;
       
    }
    .heading-section p{
       
        color: white;
        font-size: 22px;
        font-weight: 100 ;
        text-align: center;
        padding: 30px;
    }
    
    .donate-btn{
        text-decoration: none;
        color: #fff;
        font-size: 25px;
        font-weight: bolder;
        background: #fb2d2d;
        padding: 5px 10px;
        border-radius: 3px;

    }

    .donate-section{
     
            height: 669px;
            width: 1440px;
            
          
    } 
        .donate-section h1 {
            padding-top: 140px;
            color: black;
            font-size: 40px;
            font-weight: bold ;
            text-align: center;
           
        }
        .donate-section p{
           
            color: black;
            font-size: 22px;
            font-weight: 100 ;
            text-align: center;
            padding:40px
        }
      
    
       .donate-section span{
        font-size: 30px;
        
        border-radius: 5px;
        padding: 25px 28px;
        margin: 10px;
        margin-bottom: 20px;
        display: inline-block;
        font-weight: bolder;
        background: #f3f3f3;
       }

       .donate-section input{
        
        border: none;
        border-bottom: 2px solid red;
        font-size: 20px;
        padding: 0px 18%;
            
          
       }

       .btn-hover{
       
        border: 2px solid #db1010;
    color: #db1010;
       }
    
