*{
    margin: 0;
    padding: 0;
}
body{
    
    font-family: 'Kreon', serif;
    
}
.heading-section{
    background: rgba(0,0,0,0.7)url("images/donation3.jpg");
        background-size: cover;
        height: 669px;
        width: 1440px;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-blend-mode: darken;
      
} 
    .heading-section h1 {
        padding-top: 140px;
        color: white;
        font-size: 70px;
        font-weight: 500 ;
        text-align: center;
       
    }
    .heading-section p{
       
        color: white;
        font-size: 22px;
        font-weight: 100 ;
        text-align: center;
    }
    .heading-section button{
        background-color: #f44336;
        color: white;
        border: 2px solid #e7e7e7;
    }

    .donate-btn{
        text-decoration: none;
        color: #fff;
        font-size: 25px;
        font-weight: bolder;
        background: orange;
        padding: 5px 10px;
        border-radius: 3px;

    }
    
